.tableHeading {
  font-weight: bold;
}

.tableFullUrlColumn {
  width: 45%;
  word-wrap: break-word;
}

.tableShortUrlColumn {
  width: 20%;
  word-wrap: break-word;
}

.tableActionColumn {
  width: 10%;
}
